name: pre-commit

on:
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"
      - uses: astral-sh/setup-uv@v7
        with:
          version: "0.4.15"
          enable-cache: true
      - name: Install backend dependencies
        run: uv sync
        working-directory: backend
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - name: Install frontend dependencies
        run: npm ci
        working-directory: frontend
      - uses: pre-commit/action@v3.0.1
